<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">

        <title>JVITORC - Front End - Designer</title>
        <meta name="description" content="Freelancer e front end designer.">

        <meta itemprop="name" content="The Name or Title Here">
        <meta itemprop="description" content="This is the page description">
        <meta itemprop="image" content="http://www.example.com/image.jpg">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@publisher_handle">
        <meta name="twitter:description" content="Page description less than 200 characters">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="http://www.example.com/image.jpg">

        <meta property="og:title" content="Title Here" />

        <meta property="og:type" content="profile" />
        <meta property="og:profile:first_name" content="João Vitor" />
        <meta property="og:profile:last_name" content="de Oliveira Carlos" />
        <meta property="og:profile:username" content="jvitoroc" />
        <meta property="og:profile:gender" content="male" />

        <meta property="og:url" content="http://www.example.com/" />
        <meta property="og:image" content="http://example.com/image.jpg" />
        <meta property="og:description" content="Freelancer e front end designer." />


        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="css/style.prod.css">
        <link rel="icon" href="imgs/favicon.ico">
        <script>//test if browser has javascript
            document.getElementsByTagName("html")[0].setAttribute("class", "js");
        </script>
            <script src="scripts/modernizr.js"></script>
    </head>